	<div class="jumbotron">
		<div class="container-fluid">
			<div class="row top-align">

				<strong><div class = "namies"><%= @user.firstname + ' ' + @user.lastname %> </div></strong>	
 				<div class = "userpage">
					<strong>Registered Email:</strong>
					<%= @user.email %><br>
				 	<strong>Location:</strong>
				 	<%= @user.location %><br>
					<strong>Limit:</strong>
				  	<%= @user.limit %>
				  	<%= link_to "Edit", edit_user_path(@user), class: 'btn btn-large btn-warning' %>				  
				</div>
			</div>
		</div>
	</div>




<% @user.causes.each do |cause| %>
	<div class="jumbotron">
		
		<div class="container-fluid">

			<div class="col-md-5">
			<div class="row top-align">
				<h3><%= cause.name %></h3>
			</div>
			<div class="row top-align">
				<%= cause.description %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row top-align">
				<div class = "causeimage">
					<%= image_tag(cause.image) %>
				</div>
			</div>
		</div>
			<div class="col-md-2">
				<div class="row cause-stats" id="num_hits_<%= cause.id %>">
					Hits: <%= cause.hits %>
				</div>
				<div class="row cause-stats" id="money_raised_<%= cause.id %>">
					Raised: $<%= '%.2f' % cause.money_raised %>
				</div>
				<div class="row cause-stats">
					Hit Impact: $<%= '%.2f' % cause.unit_donation %>
				</div>
				<br>
				<div class="row cause-stats">
					<%= link_to "Edit", edit_cause_path(cause), class: 'btn btn-large btn-success' %>
				</div>
			</div>
		</div>
	</div>
<% end %>


