<% @causes.each do |cause| %>
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="col-md-5">
				<div class="row top-align">
						<h3><%= link_to cause.name, cause_path(cause)%></h3>
				</div>
				<div class="row top-align">
					<%= cause.location %>
				</div>
				<br>
				<div class="row top-align">
					<%= cause.description %>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row top-align">
					<div class="causeimage">
						<%= image_tag(cause.image) %>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row cause-stats" id="num_hits_<%= cause.id %>">
					Hits: <%= cause.hits %>
				</div>
				<div class="row cause-stats" id="money_raised_<%= cause.id %>">
					Raised: $<%= '%.2f' % cause.money_raised %>
				</div>
				<div class="row cause-stats">
					Hit Impact: $<%= '%.2f' % cause.unit_donation %>
				</div>
				<br>
				<div class="row cause-stats">
					<%= link_to "Hit", '#', remote: true, class: 'btn btn-large btn-success', id: "button_" + cause.id.to_s, path: add_hit_cause_path(cause), hits_id: "num_hits_" + cause.id.to_s, raised_id: "money_raised_" + cause.id.to_s, button_id: "button_" + cause.id.to_s%>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script>
	$(function () {
	    $("a[data-remote]").on('click', function () {
	    	hits_id = $(this).attr("hits_id")
	    	raised_id = $(this).attr("raised_id")
	    	button_id = $(this).attr("button_id")
	    	message_id = $(this).attr("message_id")
	    	$.ajax({
	            url: $(this).attr("path"),
	            type:"get",
            	dataType:"json",
	            success: function(data) {
	            	if (data.success) {
	            		document.getElementById(hits_id).innerHTML = "Hits: " + data.hits
	            		document.getElementById(raised_id).innerHTML = "Raised: $" + data.money_raised.toFixed(2)
	            		document.getElementById(button_id).innerHTML = "Pummel"
	            	} else {
	            		alert("Sorry, your donation limit is " + data.limit + " which is less than the hit cost of this cause.")
	            	}
	            }
	        });
	    });
	});
</script>
