<% @causes.each do |cause| %>
	<div class="jumbotron">
		<div class="span8">
			<div class="row-fluid">
				<h4><%= cause.name %></h4>
			</div>
			<div class="row-fluid">
				<p><%= cause.description %></p>
			</div>
		</div>
		<div class="span4">
			<div class="row-fluid">
				Hits: <%= cause.hits %>
			</div>
			<div class="row-fluid">
				Raised: <%= cause.money_raised %>
			</div>
			<div class="row-fluid">
				Hit Impact: <%= cause.unit_donation %>
			</div>
			<div class="row-fluid">
				<%= link_to "Hit", '#', remote: true, class: 'btn btn-large btn-primary', path: add_hit_cause_path(cause)%>
			</div>
		</div>
	</div>
<% end %>

<script>
	$(function () {
	    $("a[data-remote]").on('click', function () {
	    	$.ajax({
	            url: $(this).attr("path"),
	            type:"get",
            	dataType:"json",
	            success: function(data) {
	            	alert("Good! " + data + " hits")
	            }
	        });

	    });
	});
</script>
